@font-face {
  font-family: 'LoraRegular';
  src: url('/src/fonts/Lora-Regular.woff2') format('woff2'),
    url('/src/fonts/Lora-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'LoraBold';
  src: url('/src/fonts/Lora-Bold.woff2') format('woff2'),
    url('/src/fonts/Lora-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'LoraBold';
  background: url('./preloader.logo.png');
}
